# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.env
/lavalink
config.json
custom_commands.json
prompts.txt
/downloads
wokkibot.db
cookies.txt
commands/name/names.txt